.Cards{
    display: flex;
    gap: 1rem;

}

.parent-card{
    width: 100%;
}
@media screen and (max-width: 1200px) {
    .Cards{
      flex-direction: column;
    }
    .parent-card{
      height: 9rem;
    }
  }
  
  @media screen and (max-width: 768px)
  {
    .Cards{
      width: 90%;
    }
  }